body {
    margin: 30px 0px !important;
}

.main {
    border: 1px solid #479cf8;
}

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    /*text-anchor: start;*/
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
